.contactCard {
    display: flex;
    /* width: 24rem;
    height: 24rem; */
    place-items: center;
}

.contactItems {
    margin-top: 2.5rem !important;
}

.cardHeader {
    display: flex;
    justify-content: center;
}

.avatar {
    display: inline-block;
}

.centered {
    display: flex;
    justify-content: center;
    text-align: center;
}
