.headingText {
  margin-top: 2rem;
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
  justify-content: center;
}

.centered {
  display: flex;
  justify-content: center;
  text-align: center;
}

.muiContainer {
  margin-top: 10vh;
  justify-content: center;
}

.mt-sm {
  margin-top: 1rem;
}
