nav {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.navBtn {
    text-decoration: none !important;
    text-transform: none !important;
}

.buttonGroup {
    display: flex;
}

/* .contactIcons {
    margin-left: auto;
    margin-right: 1rem;
} */
